{% extends 'pages/base.html' %}
{% block title %}Register flights{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Register flight</div>
                <div class="card-body">
                    {% if form.errors %}
                    <ul id="errors" class="alert alert-danger list-unstyled">
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="POST" action="{% url 'register_flight' %}">
                        {% csrf_token %}
                        <input type="text" class="form-control mb-2" placeholder="Enter name" name="name" value="{{form.data.name}}" />
                        <select class="form-select" aria-label="Default select example" name="flightType" value="{{form.data.flightType}}">
                            <option selected>Select a flight type</option>
                            <option value="National">National</option>
                            <option value="International">International</option>
                        </select>
                        <input type="text" class="form-control mb-2" placeholder="Enter price" name="price"value="{{form.data.price }}" />
                        <input type="submit" class="btn btn-primary" value="Register flight" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}